.markdown h2 {
  @apply font-bold text-4xl pb-2 mt-10 font-sans;
}

.markdown h3 {
  @apply font-semibold text-3xl mt-8 pb-2 font-sans;
}

.markdown h4 {
  @apply font-semibold text-2xl mt-4 pb-1 font-sans;
}

.markdown p {
  @apply leading-9 text-xl font-normal mt-4 mb-8 font-serif text-gray-900;
}

.markdown li {
  @apply leading-9 text-xl font-normal font-serif text-gray-900 my-2;
}

.markdown b,
.markdown strong {
  font-weight: 800;
}

.markdown pre {
  @apply my-8 shadow-xl;
}

.markdown img:not([data-shadowless]) {
  @apply shadow-lg;
}

.markdown ul {
  list-style: circle;

  @apply pl-10 pb-3 mb-3;
}

.markdown blockquote {
  border-left: 8px solid var(--accent-light);

  @apply my-12 p-8 shadow-xl text-2xl text-gray-700 font-sans font-normal;
}

.markdown blockquote p {
  @apply text-gray-700 !font-sans font-normal text-2xl;
}

.markdown li > p {
  @apply mb-3;
}

.markdown pre:not([class]) {
  background: #efefef;
  padding: 0.25rem;
  margin: 2rem 0.15rem;
  overflow: auto;
  border-radius: 0.3em;
}

.markdown pre[class*="language-"] {
  @apply rounded-lg shadow-xl text-sm px-4 py-6;
}

.markdown p > code,
.markdown li > code {
  background: #efefef;
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
  font-size: 1rem;
}

.markdown article section a {
  @apply underline;
}

.markdown hr {
  @apply border-accent-2 mt-8 mb-6;
}

.markdown a {
  border-bottom: 2px solid var(--accent);
  transition: all 0.15s;
  padding: 0 2px;
  font-weight: 600;
}

.markdown a:hover {
  color: var(--accent);
}

.markdown ::selection {
  background: var(--accent-light);
  color: var(--accent-contrast);
  font-weight: bold;
}

.markdown ::-moz-selection {
  background: var(--accent-light);
  color: var(--accent-contrast);
  font-weight: bold;
}
