@tailwind base;

a {
  @apply text-blue-700 font-bold;
}

@tailwind components;
@tailwind utilities;

html ul {
  list-style: circle;
  @apply leading-loose pl-10;
}

.avatar {
  border-radius: 100%;
  width: 8rem;
  object-fit: cover;
  height: 8rem;
}

html .container {
  max-width: 750px;
}
