@import url('prism-material-themes/themes/material-darker.css');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */


html {
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;

    --primary-color: rgba(253, 230, 138);
}

body {
    @apply bg-white;
}
